<h1>Contact Us</h1>

<p>Use this form to get in touch with us!</p>

<form>
  <fieldset>
    <legend>Contact</legend>

    <label>Input Label
      <input type="text" placeholder="Inputs and other form elements go inside...">
    </label>
  </fieldset>
</form>